.kaufman__triangle {
  display: flex;
  position: absolute;
  width: 837px;
  height: 837px;
  right: -210px;
  background-image: url(../../../images/kaufman-triangle.svg);
  background-size: cover;
  top: 0;
  z-index: 1;
}
